body{
    text-align: center;
    background-color: blue;
}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 3rem;
    
}
h1{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    font-size: 3rem;
}

h2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-container{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: rgb(228, 60, 60);
}

.green {
    background-color: rgb(75, 202, 75);
}

.purple{
    background-color: rgb(206, 72, 206);
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: black;
}